@utility container {
	max-width: var(--wp--style--global--wide-size);
}

@utility alignfull {
	width: 100vw;
	margin: 0 calc(50% - 50vw) !important;
}

@utility alignnone {
	height: auto;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
}

@utility aligncenter {
	margin: 0.5rem auto !important;
}

@utility primary-button {
	@apply inline-flex items-center justify-center rounded-lg bg-primary px-6 py-3 text-xs font-bold tracking-wider uppercase !text-light !no-underline hover:bg-primary/90 transition-colors duration-300;
}

@utility secondary-button {
	@apply inline-flex items-center justify-center rounded-lg bg-secondary px-6 py-3 text-xs font-bold tracking-wider uppercase !text-dark !no-underline hover:bg-secondary/90 transition-colors duration-300;
}
